---
apiVersion: v1
kind: Pod
metadata:
  name: adguard
  labels:
    app: adguard
spec:
  hostNetwork: true
  dnsPolicy: ClusterFirstWithHostNet
  nodeSelector:
    kubernetes.io/hostname: homelab
  containers:
    - name: adguard
      image: adguard/adguardhome
      volumeMounts:
        - mountPath: /opt/adguardhome/work
          name: work
        - mountPath: /opt/adguardhome/conf
          name: conf
  volumes:
    # hostPath with DirectoryOrCreate - fully GitOps, no manual setup needed
    - name: work
      hostPath:
        path: /var/lib/rancher/k3s/storage/adguard/work
        type: DirectoryOrCreate
    - name: conf
      hostPath:
        path: /var/lib/rancher/k3s/storage/adguard/conf
        type: DirectoryOrCreate
