---
apiVersion: v1
kind: Service
metadata:
  name: adguard-service
spec:
  type: ClusterIP
  selector:
    app: adguard
  ports:
    - name: dns-tcp
      protocol: TCP
      port: 53
      targetPort: 53
    - name: dns-udp
      protocol: UDP
      port: 53
      targetPort: 53
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
    - name: https
      protocol: TCP
      port: 443
      targetPort: 443
    - name: setup
      protocol: TCP
      port: 3000
      targetPort: 3000
