---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: homelab
  source:
    repoURL: https://github.com/rmjhynes/homelab.git
    targetRevision: HEAD
    path: manifests/traefik
    directory:
      recurse: true
  destination:
    # Resources applied to default k3s cluster
    name: in-cluster
    namespace: kube-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
