---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: pihole
  namespace: argocd
spec:
  project: homelab
  sources:
    - repoURL: https://mojo2600.github.io/pihole-kubernetes/
      chart: pihole
      targetRevision: 2.35.0
      helm:
        valueFiles: [$values/applications/pihole/values.yaml]
    - repoURL: https://github.com/rmjhynes/homelab
      targetRevision: HEAD
      ref: values
  destination:
    # Resources applied to default k3s cluster
    name: in-cluster
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions: [CreateNamespace=true]
