---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  namespace: argocd
spec:
  project: homelab
  sources:
    - repoURL: https://argoproj.github.io/argo-helm
      chart: argo-cd
      targetRevision: 7.7.16
      helm:
        valueFiles: [$values/applications/argocd/values.yaml]
    - repoURL: https://github.com/rmjhynes/homelab
      targetRevision: HEAD
      ref: values
  destination:
    # Resources applied to default k3s cluster
    name: in-cluster
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
