---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    metrics:
      prometheus:
        entryPoint: metrics
        addEntryPointsLabels: true
        addRoutersLabels: true
        addServicesLabels: true
    ports:
      metrics:
        port: 9100
        expose:
          default: true
        # Avoid 9100 to prevent hostPort conflict with node-exporter
        exposedPort: 9101
        protocol: TCP
